@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body{
	background:  #eee;
	color: #353d40;
	font-family: 'Nunito', sans-serif;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	padding:  1.5rem;
}

.text-center{
	text-align: center;
}

.logo{
	height: 200px;
	width: auto;
}

@media screen and (max-width: 640px){
	.logo{
		height: 130px;
	}	
}

h1{
	font-size: 24px;
}

hr{
	border:  0;
	height: 4px;
	background: #353d40;
}